
.bg{
    background-image: url('https://img.freepik.com/free-vector/realistic-bokeh-background_23-2148967843.jpg?semt=ais_hybrid&w=740');
    background-size: cover;
    background-repeat: no-repeat;

}